.app {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 150px; */
    gap: 25px;
}

.app .cont {
    /* width: 400px;
    height: 250px; */
    /* border: 2px solid black; */
}

.cont iframe {
    /* border: 2px solid black; */
    width: 400px;
    height: 250px;
    border-radius: 12px;
}

.cont p {
    width: 380px;
    /* font-size: 14px; */
    font-weight: bold;
}